h1 {
  color: white;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 10px;
  padding-top: 20px;
  color: white;
}

h3 {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.firstButton {
  background: white;
  color: #5c636a;
  border: 2px solid #5c636a;
}
.cityInfo {
  margin: auto;
  padding-top: 20px;
  padding-left: 100px;
}

.container {
  max-width: 800px;
  background: linear-gradient(
    90deg,
    rgb(115, 155, 252) 0%,
    rgb(143, 109, 224) 89%
  );
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.main-container {
  width: 250px;
  height: 250px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid white;
  margin: 10px auto 0;
  padding-top: 40px;
  padding-bottom: 50px;
}
.main-container .weather-icon {
  font-size: 70px;
}
.main-container .currentTemperature {
  font-size: 80px;
  padding-top: 20px;
  text-align: center;
  color: white;
}
.main-container .celsiusSign {
  font-size: 18px;
  color: white;
}
.container .forcastweather {
  background: white;
  border-radius: 5px;
}
.cityInfo {
  color: white;
}
.forcastweather .col {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  padding-left: 20px;
}
