body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: white;
  padding-left: 385px;
  font-size: 50px;
  font-weight: 300;
  line-height: 28px;
  margin: 50px;
}

ul {
  margin: 0 auto;
}

li {
  list-style: none;
  color: white;
  font-size: 21px;
  font-weight: 100;
  line-height: 30px;
}

li:first-letter {
  text-transform: capitalize;
}

small {
  font-family: monospace;
  font-size: 18px;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 50px auto;
}

.weather-app {
  padding: 20px;
  border: 2px solid orange;
  border-radius: 5px;
  background: linear-gradient(
    109.8deg,
    rgb(238, 9, 121) 42.8%,
    rgb(255, 106, 0) 83.3%
  );
}

.weather-temperature {
  width: 225px;
  height: 225px;
  line-height: 15px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid white;
  padding-top: 10px;
  margin-top: -50px;
  margin-left: 50px;
  margin-bottom: 50px;
}
.weather-temperature img {
  height: 125px;
  width: 125px;
  margin: 0;
  padding: none;
}

.weather-temperature strong {
  color: white;
  font-size: 64px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: white;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 24px;
  color: white;
}

.weather-forecast-temperature-min {
  opacity: 0.75;
  color: white;
}

.weather-forecast-temperatures {
  font-size: 18px;
  color: white;
}
